[build-system]
requires = ["flit_core >=2,<3"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "dataquality"
author = "Galileo Technologies, Inc"
author-email = "team@rungalileo.io"
home-page = "https://www.github.com/rungalileo/dataquality"
description-file = "README.md"
requires-python = ">=3.8"
requires = [
    "jsonlines==2.0.0",
    "pydantic==1.8.2",
    "requests==2.26.0",
    "types-requests==2.25.2",
    "minio==7.1.0",
    "h5py==3.4.0",
    "dask[dataframe]==2021.8.1"
]

[tool.flit.metadata.urls]
Documentation = "https://www.github.com/rungalileo/dataquality/docs"

[tool.flit.metadata.requires-extra]
doc = [
    "mkdocs >=1.1.2,<2.0.0",
    "mkdocs-material >=5.4.0,<6.0.0",
]
test = [
    "pytest >=5.2",
    "mypy >=0.812",
    "coverage >=5.5",
    "pytest-cov >=2.11.1"
]
dev = [
    "flake8 >=3.8.4",
    "black >=20.8b1",
    "isort >=5.8.0",
    "autoflake >=1.4",
    "jupyter==1.0.0"
]

[tool.isort]
profile = "black"
