[build-system]
requires = ["flit_core >=2,<3"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "dataquality"
author = "Galileo Technologies, Inc"
author-email = "team@rungalileo.io"
home-page = "https://www.github.com/rungalileo/dataquality"
description-file = "README.md"
requires-python = ">=3.7"
requires = [
    "pydantic==1.8.2",
    "requests==2.26.0",
    "types-requests==2.25.2",
    "pandas>=0.20.0",
    "gorilla==0.3.0",
    "pyarrow>=5.0.0",
    "vaex-core==4.9.1",
    "vaex-hdf5==0.12.2",
    "diskcache==5.2.1",
    "resource==0.2.1",
    "tqdm==4.62.3",
    "blake3==0.2.1",
    "wrapt==1.13.3",
    "scipy>=1.7.0",
    "cachetools==5.2.0",
]

[tool.flit.metadata.urls]
Documentation = "https://www.github.com/rungalileo/dataquality/docs"

[tool.flit.metadata.requires-extra]
doc = [
    "mkdocs >=1.1.2,<2.0.0",
    "mkdocs-material >=5.4.0,<6.0.0",
]
test = [
    "pytest==6.2.5",
    "mypy==0.971",
    "coverage==6.1.1",
    "pytest-cov==3.0.0",
    "scikit-learn==1.0",
    "pytorch-lightning==1.4.9",
    "torch==1.9.1",
    "transformers==4.11.3",
    "torchmetrics<0.8.0",
    "tensorflow==2.9.1",
    "pytest-env==0.6.2",
    "datasets==2.2.2",
    "spacy==3.2.1",
    "types-cachetools==5.2.1"
]
dev = [
    "flake8==3.9.2",
    "black==22.3.0",
    "isort==5.9.3",
    "autoflake==1.4",
    "jupyter==1.0.0"
]

[tool.isort]
profile = "black"
